body {
  background-color: rgb(180, 183, 202);
  
}
body

.top {
  border-color: black;
  margin: 20px 20px 20px 20px; /*In order top, right, bottom, left*/
  position: relative;
  top: 0px;
  text-align: center;
  background: rgb(163, 154, 204);
  text
}

.lside {
  border: 2px solid black;
  margin: 20px 20px 20px 0px; /*In order top, right, bottom, left*/
  position: fixed;
  top: 150px;
  left: 20px;
  margin: 0 auto;
  background: rgb(163, 154, 204);
}
.rside {
  border-color: black;
  margin: 20px 20px 20px 0px; /*In order top, right, bottom, left*/
  position: fixed;
  top: 150px;
  right: 20px;
  margin: 0 auto;
  background: rgb(163, 154, 204);
}
#center {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background: rgb(163, 154, 204);
}
/*.hover-me:hover {
  background-color: green;
}*/
